.swiper_style {
  max-width: 400px;
  overflow: visible;
}
.nav_item {
  text-align: center;
}
.img_active {
  margin: 5px auto;
}
.swiper-button-prev,
.swiper-button-next {
  color: rgb(23, 23, 23);
  background-color: aliceblue;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 3px 3px 3px #ccc;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 16px !important;
}
.swiper-button-next,
.swiper-button-prev {
  // right:  -34px !important;
  z-index: 999 !important;
  color: rgb(106, 106, 106) !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
}
.mySwiper1 {
  width: 180px;
  height: 600px;
}

.swiper-slide-thumb-active > img {
  box-shadow: 0px 0px 8px 0px rgba(255, 0, 0, 0.6);
  background-color: black;
  width: 100px;
}
img {
  margin: 10px auto;
  cursor: pointer;
}
.table-left::-webkit-scrollbar {
  width: 0px;
}

.table-left::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 0px;
}

.table-left::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 0px;
}
